## Standerd Scaling (value range -3 ---- +3)

In [34]:
# import liberaries
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler, RobustScaler

In [8]:
# make a dataset
df = {
    'age': [25,30,35,40,45],
    'height': [165,170,175,180,185],
    'weight': [55,60,65,70,75]
}

In [9]:
# convert into pandas DataFrame
df = pd.DataFrame(df)
df.head()

   age  height  weight
0   25     165      55
1   30     170      60
2   35     175      65
3   40     180      70
4   45     185      75

In [10]:
# import scaler
scaler = StandardScaler()

In [12]:
# fit data into scaler
scaled_data = scaler.fit_transform(df)
scaled_data

array([[-1.41421356, -1.41421356, -1.41421356],
       [-0.70710678, -0.70710678, -0.70710678],
       [ 0.        ,  0.        ,  0.        ],
       [ 0.70710678,  0.70710678,  0.70710678],
       [ 1.41421356,  1.41421356,  1.41421356]])

In [13]:
# converting scaled data into pandas DataFrame
scaled_df = pd.DataFrame(scaled_data)
scaled_df

          0         1         2
0 -1.414214 -1.414214 -1.414214
1 -0.707107 -0.707107 -0.707107
2  0.000000  0.000000  0.000000
3  0.707107  0.707107  0.707107
4  1.414214  1.414214  1.414214

## MaxMinScaler (value range -1 ----- +1)

In [15]:
df = {
    'age': [25,30,35,40,45],
    'height': [165,170,175,180,185],
    'weight': [55,60,65,70,75]
}

In [16]:
df = pd.DataFrame(df)
df.head()

   age  height  weight
0   25     165      55
1   30     170      60
2   35     175      65
3   40     180      70
4   45     185      75

In [22]:
scaler = MinMaxScaler()

In [23]:
scaled_data = scaler.fit_transform(df)
scaled_data

array([[0.  , 0.  , 0.  ],
       [0.25, 0.25, 0.25],
       [0.5 , 0.5 , 0.5 ],
       [0.75, 0.75, 0.75],
       [1.  , 1.  , 1.  ]])

In [24]:
scaled_df = pd.DataFrame(scaled_data)
scaled_df

      0     1     2
0  0.00  0.00  0.00
1  0.25  0.25  0.25
2  0.50  0.50  0.50
3  0.75  0.75  0.75
4  1.00  1.00  1.00

## MaxAbsScaler (value range 0 ----- +1)

In [26]:
df = {
    'age': [25,30,35,40,45],
    'height': [165,170,175,180,185],
    'weight': [55,60,65,70,75]
}

In [27]:
df = pd.DataFrame(df)
df.head()

   age  height  weight
0   25     165      55
1   30     170      60
2   35     175      65
3   40     180      70
4   45     185      75

In [31]:
scaler = MaxAbsScaler()

In [32]:
scaled_data = scaler.fit_transform(df)
scaled_data

array([[0.55555556, 0.89189189, 0.73333333],
       [0.66666667, 0.91891892, 0.8       ],
       [0.77777778, 0.94594595, 0.86666667],
       [0.88888889, 0.97297297, 0.93333333],
       [1.        , 1.        , 1.        ]])

In [33]:
scaled_df = pd.DataFrame(scaled_data)
scaled_df

          0         1         2
0  0.555556  0.891892  0.733333
1  0.666667  0.918919  0.800000
2  0.777778  0.945946  0.866667
3  0.888889  0.972973  0.933333
4  1.000000  1.000000  1.000000

## RobustScaler

In [35]:
df = {
    'age': [25,30,35,40,45],
    'height': [165,170,175,180,185],
    'weight': [55,60,65,70,75]
}

In [36]:
df = pd.DataFrame(df)
df.head()

   age  height  weight
0   25     165      55
1   30     170      60
2   35     175      65
3   40     180      70
4   45     185      75

In [37]:
scaler = RobustScaler()

In [38]:
scaled_data = scaler.fit_transform(df)
scaled_data

array([[-1. , -1. , -1. ],
       [-0.5, -0.5, -0.5],
       [ 0. ,  0. ,  0. ],
       [ 0.5,  0.5,  0.5],
       [ 1. ,  1. ,  1. ]])

In [39]:
scaled_df = pd.DataFrame(scaled_data)
scaled_df

     0    1    2
0 -1.0 -1.0 -1.0
1 -0.5 -0.5 -0.5
2  0.0  0.0  0.0
3  0.5  0.5  0.5
4  1.0  1.0  1.0