## Normalization

In [4]:
# import liberaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = [[1, 1, 1], [1, 1, 0], [1, 0, 0]]

In [12]:
# converting in to pandas DataFrame
df = pd.DataFrame(df)
df

   0  1  2
0  1  1  1
1  1  1  0
2  1  0  0

## L2 Norm (Euclidean Normalization)

In [16]:
from sklearn.preprocessing import Normalizer

In [17]:
# calling normalizer
normalizer = Normalizer(norm = 'l2')

In [18]:
normalized = normalizer.fit_transform(df)
normalized

array([[0.57735027, 0.57735027, 0.57735027],
       [0.70710678, 0.70710678, 0.        ],
       [1.        , 0.        , 0.        ]])

## L1 normalizer

In [19]:
from sklearn.preprocessing import Normalizer

In [20]:
normalizer = Normalizer(norm = 'l1')

In [21]:
normalized = normalizer.fit_transform(df)
normalized

array([[0.33333333, 0.33333333, 0.33333333],
       [0.5       , 0.5       , 0.        ],
       [1.        , 0.        , 0.        ]])